@import "/src/styles/colors";

.cs_home_banner_container {
  width: 100%;
  max-height: 650px;
  height: 650px;
}

.cs_home_banner {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

.cs_home_banner_web_container :global(.slick-next) {
  display: none !important;
}

.cs_home_banner_web_next_arrow {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: $whiteColor;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 46%;
  right: 25px;
  position: absolute;
  padding: 10px;
  color: $primaryColor;
  &:hover {
    color: $whiteColor;
    background: $primaryColor;
  }
}

.cs_home_banner_web_prev_arrow {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: $whiteColor;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 2;
  top: 46%;
  left: 25px;
  position: absolute;
  padding: 10px;
  color: $primaryColor;
  &:hover {
    color: $whiteColor;
    background: $primaryColor;
  }
}

.cs_cover_img_overlay {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .cs_home_banner_container {
    width: 100%;
    max-height: 100%;
    height: 100%;
  }

  .cs_home_banner_web_next_arrow {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: $whiteColor;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 46%;
    right: 15px;
    position: absolute;
    padding: 10px;
    color: $primaryColor;
    &:hover {
      color: $whiteColor;
      background: $primaryColor;
    }
  }
  
  .cs_home_banner_web_prev_arrow {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: $whiteColor;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 2;
    top: 46%;
    left: 15px;
    position: absolute;
    padding: 10px;
    color: $primaryColor;
    &:hover {
      color: $whiteColor;
      background: $primaryColor;
    }
  }
}
